@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

:root.dark {
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: "SF Pro Display", "Segoe UI", sans-serif;
}

* {
  box-sizing: border-box;
}
